---
# Need to specify the mysql version as that is going to be used to set the 
# appropriate version specific parameters
mysql_major_version: "5.6"
mysql_full_version: "5.6.19-1"

# Specify the MySQL backup host
# the host must either be the same as mysql_master_host or 
# must be a slave of mysql_master_host
# the host must be known to ansible and must match the hostname 
# in ansible inventory
backup_source_host: backup_hostname

# Specify the MySQL master host
# the host must be known to ansible and must match the hostname 
# in ansible inventory
mysql_master_host: master_hostname

# replication related
mysql_replication_user: changeme
mysql_replication_password: changeme

# Various facts about the machine
ip_address: '{{ ansible_default_ipv4.address }}'
memory_mb: '{{ ansible_memtotal_mb }}'

# Common MySQL variables
mysql_socket: "/data/mysql_data/mysql.sock"
mysql_root_password: changeme

# pt-table-checksum related variables
checksum_user: changeme
checksum_password: changeme
