[pod_name]
hostname

[pod_name:vars]
# Need to specify the mysql version as that is going to be used to set the 
# appropriate version specific parameters
mysql_major_version="5.6"
mysql_full_version="5.6.20-1"

# Common MySQL variables
mysql_socket="/data/mysql_data/mysql.sock"
mysql_root_password="changeme"
